.components-forms-login{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    text-align: center;

    .title {
        font-family: 'Rubik', sans-serif;
        margin-bottom: 20px;
    }

    .login-input{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

    .login-pass {
        text-align: center;
        margin-left: 40%;
        margin-bottom: 15px;
    }

    .login-button{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    
    .register{
        padding-left: 10px;
        text-align: center;
    }
}