.components-forms-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    text-align: center;

    .title {
        font-family: 'Rubik', sans-serif;
        margin-bottom: 20px;
    }

    .pass-input{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 15px;
    }

    .pass-text {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 15px;
        text-align: center;
        font-family: 'Rubik', sans-serif;
    }

    .pass-button{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    
    .register{
        padding-left: 10px;
        text-align: center;
    }
}