.components-forms-register{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    text-align: center;

    .title {
        font-family: 'Rubik', sans-serif;
        margin-bottom: 20px;
    }

    button{
        margin-top: 15px;
    }
    .register-input{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
    .register-button{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    
    .login{
        margin: 15px;
        text-align: center;
    }
}