.app-auth {
    display: flex;
    flex-direction: row;
    height: 100%;
    
    .left {
        flex: 3;
        background-color: purple;
        hr {
            width: 33.5%;
        }

        .logo-container {
    
        }
    }

    .right {
        flex: 2;
        background-color: green;
    }
}