@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Rubik:wght@300;400;500&display=swap');
.component-forms-input{
    height:25px;
    width:65%;
    min-width: 100px;
    border:0;
    border-bottom:4px solid #70afce;
    font-family: 'Rubik', sans-serif;
}