.app-component-logo-money{
    border-radius: 100%;
    background-color: #3A7B99;
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo{
        font-family: 'Pacifico', cursive;
        font-size: 15px;
    }
    
}