.app-components-home-parents {

    .menu {
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: row;

        .info-state {
            display: flex;
            flex-direction: column;
            width: 80%;

            .progress {
                display: flex;
                flex-direction: row;

                .alumno {
                    border: solid 2px black;
                }
            }

            .state {

            }
        }

        .coaches-menu {
            width: 20%;
        }
    }
}